{
    "singleQuote": true,
    "trailingComma": "es5",
    "jsxSingleQuote": true,
    "arrowParens": "avoid",
    "bracketSameLine": false,
    "semi": false,
    "tabWidth": 2,
    "useTabs": false
}